* {
    box-sizing: border-box;
}

body {
    background-color: bisque;
}
.traffic-light {
    background: black;
    width: 150px;
    border-radius: 20px;
    margin: 20px auto 0px auto;
}
.traffic-light div {
    padding: 10px 0;
}
.red-light {
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid gray;
    margin: 0 auto;
}
.yellow-light {
    background: yellow;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid gray;
    margin: 0 auto;
}
.green-light {
    background: green;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid gray;
    margin: 0 auto;
}
.stick {
    background: black;
    width: 20px;
    height: 300px;
    margin: 0 auto;
}
.road {
    width: 100%;
    height: 400px;
    background: gray;
    margin: -100px auto;
}
